@import '../../../assets/styles.scss';


.skillCard {
    border: $border;
    height: 15vh;
    width: 25vh;
    margin: 3vh 4vh;
    display: grid;
    grid-template-columns: 1fr 2fr;

    .skillName {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        font-size: $font-xs;
        margin: 1vw;
    }

    .fa {
        font-size: $font-xl;
        margin: auto;
    }

    .skillProject {
        margin: auto;
        width: 75%;
        text-align: center;
        color: $highlight-color;

        p {
            font-size: $font-xs;
        }
    }
}