@import '../../assets/styles.scss';

.skills {
    align-items: flex-end;

    .skillsContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        
    }
}

// @media screen and (min-width: 768px) {
//     .skillsContainer {
//         border: $border;
//         height: 80%;
//         width: 85%;
//     }
// }