@import '../../assets/styles.scss';

.skills {
    align-items: flex-end;

    .skillsContainer {
        display: grid;
        // max-width: 75vw;
    }
}

@media screen and (min-width: 768px) {
    .skillsContainer {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 767px) {
    .skillsContainer {
        margin: 3vh 0;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}