@import '../../assets/styles.scss';

@media screen and (min-width: 768px) {
    .sidebar {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .textContainer {
        font-size: clamp(6em, 19vh, 13vw);
        max-width: 3ch;
        // line-height: clamp(8.5rem, 19vh, 19vh);
        line-height: clamp(5rem, 18vh, 19vh);
        letter-spacing: 0.08em;
        word-break: break-all;
        padding-left: 1.5vw;
        padding-bottom: 10px;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-color: $secondary-color;
        -webkit-text-stroke-width: 0.2vh;
        text-shadow:
            0.8vw 0.8vw $highlight-color,
            1.6vw 1.6vw $secondary-color;
    }
}

@media screen and (max-width: 767px) {
    .sidebar {
        display: none;
    }
}