@import "./_variables";

$primary-font: 'Univers Condensed';
$font-xl: 45px;
$font-l: 35px;
$font-m: 25px;
$font-s: 20px;
$font-xs: 16px;
$font-xxs: 14px;
$font-xxxs: 12px;

h6,
h5,
h4,
h3,
h2,
h1 {
    margin: 0;
    padding: 0;
    margin-block-end: 0;
    margin-block-start: 0;
}

a {
    text-decoration: none;
    color: $secondary-color;
}

.topbar, .navbar {
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .topbar, .navbar {
        font-size: $font-m;
    }

    p {
        font-size: $font-s;
    }
    
    h3 {
        font-size: $font-m;
    }

    h5 {
        font-size: $font-s;
    }
    
    label, input {
        font-size: $font-xs;
    }    
}

@media screen and (max-width: 767px) {
    .topbar, .navbar {
        font-size: $font-s;
    }

    p {
        font-size: $font-xs;
    }
    
    h3 {
        font-size: $font-s;
    }
    
    label, input {
        font-size: $font-xxs;
    }  
}


@font-face {
    font-family: 'Univers Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Univers Regular'), url('./fonts/UniversRegular.woff') format('woff');
}
@font-face {
    font-family: 'Univers Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Univers Condensed'), url('./fonts/UniversCnRg.woff') format('woff');
}
@font-face {
    font-family: 'Univers Light';
    font-style: normal;
    font-weight: normal;
    src: local('Univers Light'), url('./fonts/UniversLight.woff') format('woff');
}
@font-face {
    font-family: 'Univers Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Univers Bold'), url('./fonts/UniversBold.woff') format('woff');
}
@font-face {
    font-family: 'Univers Bold Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Univers Bold Condensed'), url('./fonts/UniversCnBold.woff') format('woff');
}