@import '../../../assets/styles.scss';

.projectContent {
    max-height: 100%;

    video {
        border: $border;
    }

    h2 {
        font-size: $font-m;
        margin-bottom: 10px;
    }

    ul {
        display: flex;
        padding-inline-start: 0;

        li {
            list-style-type: none;
            border: $secondary-color 1px solid;
            width: fit-content;
        }
    }

    p {
        margin: 5px 0 15px 0;
    }

    a {
        background-color: $secondary-color;
        color: $primary-color;
        font-size: $font-xs;
        padding: 5px 10px 5px 10px;
        margin-right: 10px;
        border-radius: 20px;
    }

    a:hover {
        background-color: $highlight-color;
        color: $secondary-color;
    }
}

@media screen and (min-width: 768px) {

    .projectContent {
        padding: 15px;
    }

    video {
        max-height: 250px;
    }

    li {
        list-style-type: none;
        border: $secondary-color 1px solid;
        width: fit-content;
        padding: 5px;
        margin-right: 10px;
    }
    
}


@media screen and (max-width: 767px) {

    .projectContent {
        padding: 25px;
    }

    video {
        max-width: 80vw;
    }

    li {
        list-style-type: none;
        border: $secondary-color 1px solid;
        width: fit-content;
        padding: 3px;
        margin-right: 7px;
        font-size: $font-xxs;
    }
}
