@import './assets/styles';

* {
    font-family: $primary-font;
    margin-block-start: 0;
    margin-block-end: 0;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
}

.app {
    background-color: $primary-color;
    color: $secondary-color;
    border: $border;
    // overflow-x: hidden;
}

body {
    margin: 0;
}

::-webkit-scrollbar {
    position: absolute;
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $primary-color;
}

::-webkit-scrollbar-thumb {
    background: $secondary-color;
}   

::-webkit-scrollbar-thumb:hover {
    background: $highlight-color;
}

